<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Mon Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1><a href="/">Mon Blog</a></h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/new">Nouvel article</a>
        </nav>
    </header>
    <main>